{% extends 'base.html' %}{% load static %} {% block title %}
<title>Login</title>
{% endblock title%} {% block content %}
<div class="container mt-4">
  <form method="POST" class="col-sm-6">
    {% csrf_token %}
    <label>UserName:</label>
    <input type="text" class="form-control" name="username" />
    <label>Password:</label>
    <input type="password" class="form-control" name="password" />

    <button type="submit" class="btn bg-info text-light">Login</button>
  </form>
  <span>--OR-- login with</span>
  <a href="{% url 'social:begin' 'google-oauth2' %}">
    <button type="button" name="button" class="btn btn-danger">Google+</button>
  </a>
</div>
{% endblock content %}
